/* Landing Page Styles */

body {
    min-height: 2000px;
}
    
.landing-body {
    min-height: 10000px;

}

#landing-header {
    position: fixed;
    top: 1em;
    z-index: 999;
}

#landing-link {
    color:white;
    transition: all .1s;
    transition-timing-function: ease-in;
}

#landing-link:hover {
    font-size: 17px;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner #bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff url(./Images/snowflake.svg);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    mix-blend-mode: screen;
}
/* Landing Page Styles */



/* NavBar Styles */

#nav-title {
    font-family: 'Playfair Display SC', serif;
    font-size: 3em;
    color: #22C3D0;
    /* border: 2px solid red; */
}

#landing-link {
    text-decoration: none;
}

#landing-link:hover {
    font-size: 1em;
}

#nav-container {
  z-index: 999;  
  position: fixed;
  width: 90em;
}

#nav-element {
    padding: 0.5em;
    opacity: 5;
}


#nav-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 0px;
    height: 5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    
}


#nav-link {
    color: white;
    text-decoration: none;
}

#nav-link:hover {
    font-size: 1.50em;
    transition-duration: 1.3s;
    color: #22C3D0;
}

#nav-dropdown-link {
    color: black;
}

/* #navbarToggleExternalContent {
    position: relative;
    bottom: 4.5em;
} */

/* NavBar Styles */



/* Carousel Styles */

#carouselExampleCaptions {
    margin-top: 0em;
}

/* Carousel Styles */



/* Home Page Main Body Styles  */

.main-body-home {
    border: 2px solid green;
    height: 2000px;
    /* background-image: url(./Images/50\ Shades\ of\ Grey.jpg); */
}



/* Home Page Main Body Styles  */



/* Promotions Styles */

#promo-header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.5em;
}

.promo-section-container {
    /* border: 2px solid blue; */
    margin: 1em; 
    height: 20em;
    box-shadow: lightgray 2px 1px 5px 5px;
    transition-duration: 0.5s;
}

.promo-section-container:hover {
    box-shadow: gray 4px 2px 7px 7px;
    transition-duration: 1s;
}

.promo-container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin: 1em;
    height: 16em;
}

/* Promotions Styles */





/* Social Media Styles  */

ul {
    list-style: none;
}

.social-icon {
    height: 3.25em;
    width: 3.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 27px;
    margin: 5px;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 50%;
}

.social-twitter {
    background-color: #55acee
    
}

.social-facebook {
    background-color: #3b5999
}

.social-google {
    background-color: #dd4b39
}

.social-instagram {
    background-color: #517fa4
}

.social-icon i {
    transition: 0.4s all
}

.social-icon:hover i {
    transform: scale(1.4)
}

.link1{
    text-decoration: none;
}

.link2{
    text-decoration: none;
}

.link3{
    text-decoration: none;
}

.link4{
    text-decoration: none;
}

/* Social Media Styles */

/* Ratings Styles */

.card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    margin: 1em;
    width: 400px;
    height: 375px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card-heading {
    font-size: 24px
}

.review h6 {
    font-size: 17px
}

.ratings i {
    font-size: 23px;
    color: red;
    margin-right: 5px
}

.review-button {
    color: #fff;
    background-color: #ef1515;
    border-color: #ef1515;
    height: 50px;
    font-size: 18px
}

.review-button:hover {
    color: #fff;
    background-color: red;
    border-color: red
}

.review-button:focus {
    color: #fff;
    background-color: red;
    border-color: red;
    box-shadow: 0 0 0 0rem red
}


.review-button:active {
    color: #fff;
    background-color: red;
    border-color: red
}

.later {
    color: #BABABA;
    border-color: #BABABA;
    height: 50px;
    font-size: 18px
}

.later:hover {
    border-color: red;
    background-color: red;
    color: #fff
}

/* Ratings Styles */

.customerExp{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding:1em;
    }